<!DOCTYPE html
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Bookmarks</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="min-h-screen bg-white">
      <nav class="bg-white border-b border-gray-200">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <div class="flex items-center flex-shrink-0">
                <span class="antialiased text-purple-800 text-2xl font-semibold font-sans">My Bookmarks</span>
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <%= if @current_user do %>
                <p class="block px-4 py-2 text-sm text-gray-700" tabindex="-1" id="user-email">
                  <%= @current_user.email %>
                </p>
                <%= link "Sign out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "block px-4 py-2 text-sm text-gray-700", tabindex: "-1", id: "user-menu-item-2" %>
              <% else %>
                <div class="flex items-center">
                  <%= link "Sign in", to: Routes.user_session_path(@conn, :new), class: "block px-4 py-2 text-sm text-gray-700", tabindex: "-1", id: "user-menu-item-2" %>
                  <%= link "Register", to: Routes.user_registration_path(@conn, :new), class: "block px-4 py-2 text-sm text-gray-700", tabindex: "-1", id: "user-menu-item-2" %>
                </div>
              <% end %>
           <div class="flex items-center -mr-2 sm:hidden">
              <!-- Mobile menu button -->
              <button type="button" class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!--
                  Heroicon name: outline/menu

                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <!--
                  Heroicon name: outline/x

                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </nav>

      <div class="py-10">
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">

            <!-- This is the where the main content is inserted -->
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= @inner_content %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
