<h1>Show Bookmark</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @bookmark.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @bookmark.url %>
  </li>

  <li>
    <strong>Favorite:</strong>
    <%= @bookmark.favorite %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.bookmark_path(@conn, :edit, @bookmark) %></span>
<span><%= link "Back", to: Routes.bookmark_path(@conn, :index) %></span>
