<h1>Show Read Later</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @read_later.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @read_later.url %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.read_later_path(@conn, :edit, @read_later) %></span>
<span><%= link "Back", to: Routes.bookmark_path(@conn, :index) %></span>
